# Python
*.pyc
*.pyo
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
env/
venv/
ENV/
Include/
Lib/
Scripts/
pyvenv.cfg

# Django
*.log
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo